@model List<MayewoPortfolio.Models.Project>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}
<h2>Project List</h2>

<table class="table table-hover">
    <tr class="table-info">
        <th>Id</th>
        <th>Title</th>      
        <th>Category</th>      
        <th>Description</th>
        <th>Update</th>
        <th>Remove</th>
        <th>Github Url</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProjectId</td>
            <td>@item.Title</td>
            <td>@item.Category.Name</td>
            <td>@item.Description</td>            
            <td><a href="/Project/Update/@item.ProjectId" type="button" class="btn btn-outline-success">Update</a></td>
            <td><a href="/Project/RemoveProject/@item.ProjectId" type="button" class="btn btn-outline-danger">Remove</a></td>
            <td><a href="/Project/OpenUrl/@item.ProjectId" type="button" class="btn btn-outline-dark">Open on Github</a></td>
        </tr>
    }
</table>
<td><a href="/Project/CreateNewProject/" type="button" class="btn btn-outline-primary">Create New Project</a></td>