
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Templates/sidebar-09/images/logo.jpg);"></div>
            <h3>Yahya Erdogan</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Default/Index"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-download mr-3 notif"></span> Download</a>
        </li> 
        <li>
            <a href="/Statistic/Index"><span class="fa fa-bar-chart mr-3"></span> Statistics</a>
        </li>
        <li>
            <a href="/Category/Index"><span class="fa fa-list ul mr-3"></span> Categories</a>
        </li>
        <li>
            <a href="/Project/Index"><span class="fa fa-align-center mr-3"></span> Projects</a>
        </li>
        <li>
            <a href="/About/Index"><span class="fa fa-info-circle mr-3"></span> Abouts</a>
        </li>
        <li>
            <a href="/Future/Index"><span class="fa fa-battery-full mr-3"></span> Prominents</a>
        </li>
        <li>
            <a href="/Service/Index"><span class="fa fa-briefcase mr-3"></span> Services</a>
        </li>
        <li>
            <a href="/Communication/Index"><span class="fa fa-comments-o mr-3"></span> Communications</a>
        </li>
        <li>
            <a href="/SocialMedia/Index"><span class="fa fa-envelope mr-3"></span> Social Medias</a>
        </li>
        <li>
            <a href="/Testimonial/Index"><span class="fa fa-users mr-3"></span> References</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
        </li>
    </ul>
</nav>
