
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Templates/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Templates/sidebar-09/images/logo.jpg);"></div>
            <h3>Yahya Erdogan</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-download mr-3 notif"><small class="d-flex align-items-center justify-content-center">5</small></span> Download</a>
        </li>
        <li>
            <a href="/Education/Index"><span class="fa fa-gift mr-3"></span> Educations</a>
        </li>
        <li>
            <a href="/Category/Index"><span class="fa fa-trophy mr-3"></span> Categories</a>
        </li>
        <li>
            <a href="/Project/Index"><span class="fa fa-cog mr-3"></span> Projects</a>
        </li>
        <li>
            <a href="/About/Index"><span class="fa fa-support mr-3"></span> Abouts</a>
        </li>
        <li>
            <a href="/Future/Index"><span class="fa fa-support mr-3"></span> Prominents</a>
        </li>
        <li>
            <a href="/Service/Index"><span class="fa fa-support mr-3"></span> Services</a>
        </li>
        <li>
            <a href="/Communication/Index"><span class="fa fa-support mr-3"></span> Communications</a>
        </li>
        <li>
            <a href="/SocialMedia/Index"><span class="fa fa-support mr-3"></span> Social Medias</a>
        </li>
        <li>
            <a href="/Testimonial/Index"><span class="fa fa-support mr-3"></span> References</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-support mr-3"></span> Settings</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
        </li>
    </ul>

</nav>