@model MayewoPortfolio.Models.SocialMedia
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title"> Update Social Media</h5>
        </div>
        <div class="card-body" style="background-color:ghostwhite">
            <div class="mb-3">
                <form method="post" action="">
                    <label for="socialmediaid" class="form-label, mt-2"><b>Social Media Id</b></label>
                    <input type="text" class="form-control" id="socialmediaid" value="@Model.SocialMediaId" name="SocialMediaId">

                    <label for="title" class="form-label, mt-2"><b>Title</b></label>
                    <input type="text" class="form-control" id="title" value="@Model.Title" name="Title">

                    <label for="url" class="form-label, mt-2"><b>Web Url</b></label>
                    <input type="text" class="form-control" id="url" value="@Model.Url" name="Url">

                    <label for="icon" class="form-label, mt-2"><b>Category</b></label>
                    <input type="text" class="form-control" id="icon" value="@Model.Icon" name="Icon"> 
                    
                    <div class="mt-3">
                        <button type="submit" class="btn btn-outline-success" style="margin-right: 5px;">Save Changes</button>
                        <button href="/SocialMedia/Index/" type="submit" class="btn btn-outline-warning">Go Back</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</body>
</html>
