@model List<MayewoPortfolio.Models.Future>
@foreach (var item in Model)
{
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">@item.Header</span>
                <span class="down">@item.NameSurname</span>
            </h1>
            <p class="header-subtitle">@item.Title</p>

            <a href="https://github.com/yahyaerdoan" target="_blank" class="link btn btn-outline-primary"><i class="ti-github"></i><span class="ml-2">Github</span></a>
            <a href="https://www.linkedin.com/in/yahyaerdo%C4%9Fan/" target="_blank" class="link btn btn-outline-primary ml-2"><i class="ti-linkedin"></i><span class="ml-2">Linkedin</span></a>
        </div>
    </header>
}

